{{!< base }}
{{#contentFor "title"}} Dashboard {{/contentFor}}

<main class="col-md-12 dashboard-container">
  <div class="row large-container">
    <div class="col-md-2 left-content">
      <div class="col-md-12 header">
        <!-- <div><img src="/public/images/logo2.png"></div> -->
        <div><h2>bitBybit</h2></div>
      </div>
      <div class="col-md-12">
        <img class="img" src="/public/images/samantha.png" alt="myPics" /><br
        /><br />
        <span>
          <h5><strong>Samantha</strong></h5>
          <small>samantha@gmail.com</small>
        </span>
      </div>
      <div class="col-md-12 dashboard">
        <h5><strong>Dashboard</strong></h5>
        <ul>
          <li><i class="fas fa-wallet"></i>&nbsp; Payments
            <span class="numNotify">4</span></li>
          <li><i class="fas fa-share"></i>&nbsp; Summary</li>
          <li><i class="fas fa-user"></i>&nbsp; Profile</li>
          <li><i id="roller" class="fas fa-cog"></i>&nbsp; Settings</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-lg-8 inner-dash text-center">
      <div class="col-md-12 text-left">
        <div class="search-bar text-center">
          <div class="notificationBar text-center">
            <i style="color: black; cursor: pointer;" class="fas fa-bell"></i>
            <div class="notify">
              4
            </div>
          </div>
          <i id="searchIcon" class="fas fa-search"></i>
          <input class="mySearch" type="search" placeholder="Search" /><br />
          <div class="row myMonth">
            <div class="col-md-6">
              <div>
                <h5>This month</h5>
                <p class="date">{{ date }}</p>
                {{#if user.monoId}}
                <p class="font-weight-bold">
                Account linked<br>
                <span>BVN: {{ identity.bvn }}</span><br>
                <span>Monthly Income: NGN {{ income.amount }}</span>
              </p>{{/if }}
              </div>
            </div>
            <div class="col-md-6">
              {{#if user.monoId}}
              <div class="dropdown">
                <button
                  class="dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <small style="color: white;"><b>Create Payments</b></small>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/payments">Pay Someone</a>
                  <a class="dropdown-item" href="/dashboard">Receive Payment</a>
                </div>
              </div>
              {{ else }}
              <button id="launch-btn" class="btn btn-primary py-2 px-3">Link your account</button>
              {{/if}}
            </div>
          </div>
          <div class="col-md-12 text-center date">
            <img src="/public/images/dashboard  bar.png" width="80%" />
          </div>
          <div class="col-md-12 inner-dash-contents">
            <div class="col-md-12 text-center dueDate">
              <p><b>Due date</b></p>
              <i class="fas fa-ellipsis-h" style="color: grey;"></i>
            </div>
            <div class="col-md-12 first-item">
              <div class="items1">
                <i class="fas fa-store"></i>
                <div class="items_1">
                  <span><b>Adupe's Kitchen</b></span>
                  <span>Five course meal</span>
                </div>
              </div>
              <div id="myText">
                <p class="imgThumb">#1500
                  <span><a href="#"><input
                        class="buttonPay"
                        type="button"
                        value="Pay Now"
                      /></a></span>
                </p>
              </div>
            </div>
            <div class="col-md-12 first-item">
              <div class="items2">
                <i class="fas fa-bus"></i>
                <div class="items_1">
                  <span><b>Adeola Tinu</b></span>
                  <span>Peruvian hair</span>
                </div>
              </div>
              <div id="myText">
                <p class="imgThumb">#1500
                  <span><a href="#"><input
                        class="buttonPay"
                        type="button"
                        value="Pay Now"
                      /></a></span>
                </p>
              </div>
            </div>
            <div class="col-md-12 first-item">
              <div class="items3">
                <i class="fas fa-home"></i>
                <div class="items_1">
                  <span><b>Elumelu R.estate</b></span>
                  <span>Initial deposit</span>
                </div>
              </div>
              <div id="myText">
                <p class="imgThumb">#1500
                  <span><a href="#"><input
                        class="buttonPay"
                        type="button"
                        value="Pay Now"
                      /></a></span>
                </p>
              </div>
            </div>
            <div class="col-md-12 text-center dueDate">
              <p><b>Due Monday, 23 March</b></p>
              <i class="fas fa-ellipsis-h" style="color: grey;"></i>
            </div>
            <div class="col-md-12 first-item">
              <div class="items4">
                <i class="fas fa-sun"></i>
                <div class="items_1">
                  <span><b>Adupe's Kitchen</b></span>
                  <span>Five course meal</span>
                </div>
              </div>
              <div id="myText">
                <p class="imgThumb">#1500
                  <span><a href="#"><input
                        class="buttonPay"
                        type="button"
                        value="Pay Now"
                      /></a></span>
                </p>
              </div><br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 expenditure">
      <h5><b>Expenditure</b></h5>
      <div class="col-md-12 progress-title">
        <div class="d-flex">
          <p>Electronics</p>
          <p>#827,400</p>
        </div>
        <div class="progress">
          <div class="progress-bar" style="width: 50%; background: #8AC926;">
            <div class="progress-value">50%</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 progress-title">
        <p><b>Home appliances</b></p>
        <div class="progress">
          <div class="progress-bar" style="width: 85%; background: #8AC926;">
            <div class="progress-value">85%</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 progress-title">
        <p><b>Housing</b></p>
        <div class="progress">
          <div class="progress-bar" style="width: 60%; background: #8AC926;">
            <div class="progress-value">60%</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 progress-title">
        <p><b>Loans</b></p>
        <div class="progress">
          <div class="progress-bar" style="width: 75%; background: #8AC926;">
            <div class="progress-value">35%</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 progress-title">
        <p><b>Vehicle</b></p>
        <div class="progress">
          <div class="progress-bar" style="width: 95%; background: #8AC926;">
            <div class="progress-value">95%</div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="imgRight text-center">
          <img
            class="text-center"
            src="/public/images/boxes.png"
          />&nbsp;&nbsp;&nbsp;&nbsp;
          <img class="text-center" src="/public/images/plant.png" />
        </div>
        <div class="col-md-12 tips-container">
          <p class="tip-text">
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim.<br /><br />
            <button class="tip">View Tips</button>

          </p>
        </div>
      </div>
    </div>
  </div>
</main>

{{#contentFor "scripts"}}
<script src="https://connect.withmono.com/connect.js"></script>
<script type="application/javascript">
    const sendToDashboard = async function(data) {
      try {
        const resp = await fetch('/accounts/dashboard', {
          method: 'POST',
          body: JSON.stringify({code: data.code, id: {{user.id}} }),
          headers: {'Content-Type': 'application/json'}
        })
        const val = await resp.json()
        console.log(val)
        if (val) {
          location.assign('/accounts/dashboard')
        }
      }catch(err) {
        console.log(err)
      }
    }
    const copyToClipboard = text => {
      const elm = document.createElement('textarea');
      elm.value = text;
      document.body.appendChild(elm);
      elm.select();
      document.execCommand('copy');
      document.body.removeChild(elm);
    };
    var connect;
    var config = {
      key: "{{ monoPublicKey }}",
      onSuccess: function (response) {
        copyToClipboard(response.code);
        console.log(JSON.stringify(response));
        sendToDashboard(response)
        /**
          response : { "code": "code_xyz" }
          you can send this code back to your server to get this
          authenticated account and start making requests.
          */
      },
      onClose: function () {
        console.log('user closed the widget.')
      }
    };

    function setupConnect() {
      connect = new Connect(config);
      connect.setup();
      var launch = document.getElementById('launch-btn');
      if (!launch) { return }
      launch.onclick = function (e) {
        connect.open();
      };
    }

    setupConnect()
</script>
{{/contentFor}}